@media only screen and (min-width: 35em) {
    body {
        margin: 10px;
    }
    header {
        border-radius: 10px;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25em;
    }
    figure img {
        border-radius: 10px;
    }
    footer{
        border-radius: 10px;
    }
}