@media only screen and (min-width: 720px) {
    #logo img{
        height: 50px;
    }
    nav a{
        padding: 23px;
        font-size: 1.5em;
    }
    #hero-text{
        transform: translate(-50%, -70%);
    }
    #hero-text h2{
        font-size: 4em;
    }
    #hero-text h3{
        font-size: 1.75em;
        margin-top: -65px;
        margin-left: -10px;
    }
    #hero-text p{
        font-size: 1.75em;
    }
}