@media only screen and (min-width: 55rem) {
    /* #banner p {
        animation: animate 35s linear infinite;
    } */
    /* @keyframes animate {
        0% {
            transform: translateX(66%);
        }
        100% {
            transform: translateX(-100%);
        }
    } */
    header button {
        display: none;
    }
    #menuNav {
        display: flex;
        justify-content: flex-start;
    }
    nav ul li a {
        border: none;
    }
    #homepage{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    #hero {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
    #news {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }
    .spotlights {
        grid-column: 4 / 5;
        grid-row: 1 / 4;
        display:block;
    }
    .spotlightCard:nth-of-type(3) {
        display:block;
    }
    #join {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    #event {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #weather {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    /* discover page */
    #discover {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    #stats h3 {
        margin-bottom: 3em;
    }
    #stats p {
        margin-bottom: 5em;
    }

    /* join page */
    form label.labelLeft {
        padding: .4rem;
    }
    main div.join {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    /* directory page */
    .directoryGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    .directoryList div.directoryRow {
        grid-template-columns: repeat(5, 1fr);
    }
    .directoryList div.directoryRow p.directoryMembershipSmall {
        display: none;
    }
    .directoryList div.directoryRow p.directoryMembershipLarge {
        display: block;
    }
}
