@media only screen and (min-width: 35rem) {
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #banner p {
        animation: animate 25s linear infinite;
    }
    /* @keyframes animate {
        0% {
            transform: translateX(85%);
        }
        100% {
            transform: translateX(-100%);
        }
    } */
    #hero {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    #news {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    .spotlights {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #join {
        display:block;
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }
    #event {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
    #weather {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }

    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    footer img {
        margin: auto;
    }
    #credits {
        grid-column: 1 / 4;
    }
}