body {
	margin: 0 auto;
    font-family: "Roboto", "Verdana", sans-serif;
    text-align: center;
    color: #222222;
}
button {
    cursor: pointer;
}
h1, h2, h3, h4 {
    font-family: "Bebas Neue", "Arial", sans-serif;
    color:#c82828;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
    margin: 0.1em;
}
h4 {
    font-size: 1.25em;
    margin: 0.1em;
    color: #111111;
}
#banner { 
    background-color: #C5E3F5;
    margin: 0 auto;
    border: 2px solid #222222;
    display: none;
}
#banner p {
    margin: auto;
    font-size: 0.9em;
    align-items: center;
    padding: 0.25em;
    animation: animate 15s linear infinite;
    white-space: nowrap;
}
@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
header {
    background-color: #F4F5F6;
    border-bottom: 2px solid #c82828;
}
header h1 {
    text-align: left;
    font-size: 1em;
}
header a {
    text-decoration: none;
}
#topNav {
    display: grid;
    grid-template-columns: 110px auto 80px 70px;
}
#logo {
    text-align: center;
    align-self: center;
}
#logo img {
    margin: 5px 20px 5px 5px;
    height: 33px;
}
#socialNetwork {
    align-self: center;
}
#socialNetwork img {
    padding: 5px;
    height: 25px;
    transition: .5s;
}
#socialNetwork img:hover {
    background-color: #C5E3F5;
    height: 29px;
}
header button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
}
#menuNav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #222222;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li.active a {
    background-color: #c82828;
    color: #F4F5F6;
}
nav ul li a:hover {
    background-color: #C5E3F5;
    color: #222222;
}
nav ul {
    display: none;
    border-top: 2px solid rgba(0,0,0,0.5);
    border-bottom: 2px solid rgba(0,0,0,0.5);
}
nav ul.open {
    display:block;
}
#menuButton span:nth-child(1) {display: block;}
#menuButton span:nth-child(2) {display: none;}
#menuButton.open span:nth-child(1) {display: none;}
#menuButton.open span:nth-child(2) {display: block;}
#hero {
    display: grid;
}
#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#hero-text {
    text-align: center;
    color: white;
    border: none;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 2em;
}
#hero-text h1 {
    font-size: 1.5em;
    line-height: 0px;
}
#hero-text h2 {
    font-size: 0.7em;
    /* color: #F4F5F6; */
    color:#111111;
    line-height: 0px;
}
#hero-text p {
    margin: 3em auto 1em auto;
    /* color:#F4F5F6; */
    color: #111111;
}
#hero-text button {
    font-size: 0.66em;
    margin-bottom: 1em;
    padding: 0.25em;
    color: #111111;
}
#hero-text button:hover {
    background-color: #C5E3F5;
}
main div {
    border: 1px solid #111111;
    min-height: 100px;
    margin: 5px;
}
main a {
    text-decoration: none;
    color:#c82828;
}
main a:hover {
    color:#C5E3F5;
    font-weight: bold;
}
#join {
    display: none;
}
#join button {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 1.75em;
    margin: 0.5em;
    padding: 0.25em 0.75em;
    color: #111111;
}
#join button:hover {
    background-color: #C5E3F5;
}
.spotlights img {
    width: 25%;
    margin: 10px;
}
.spotlights p {
    margin: auto;
    border-top: 1px solid #222222;
    width: 80%;
}
.spotlight3 {
    display:none;
}
footer {
    background-color: #F4F5F6;
    border-top: 2px solid #c82828;
}
#logoFooter {
    height: 66px;
}
footer h2 {
    font-size: 18px;
}
footer a {
    color: #222222;
}
footer img {
    padding: 5px;
    height: 25px;
    transition: .5s;
}
footer img:hover {
    height: 29px;
}
#contact {
    display: block;
    align-self: center;
}
#credits {
    font-size: 12px;
    border-top: 1px solid rgba(0,0,0,0.5);
    margin: 10px 0;
    padding-bottom: 1px;
}
