body {
	margin: 0 auto;
    font-family: "Roboto", "Verdana", sans-serif;
    text-align: center;
    color: #222222;
}
button {
    cursor: pointer;
    border: 1px solid #111111;
}
h1, h2, h3, h4 {
    font-family: "Bebas Neue", "Arial", sans-serif;
    color:#c82828;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
    margin: 0.1em;
}
h4 {
    font-size: 1.25em;
    margin: 0.1em;
    color: #111111;
}
#banner { 
    background-color: #C5E3F5;
    margin: 0 auto;
    border: 2px solid #222222;
    display: none;
}
#banner p {
    margin: auto;
    font-size: 0.9em;
    align-items: center;
    padding: 0.25em;
    /* animation: animate 15s linear infinite; */
    white-space: nowrap;
}
/* @keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} */
header {
    background-color: #F4F5F6;
    border-bottom: 2px solid #c82828;
}
header h1 {
    text-align: left;
    font-size: 1em;
}
header a {
    text-decoration: none;
}
.today, .lastVisit, .datesLink {
    font-size: 0.80em;
    margin: 0.5em;
}
.datesLink {
    display: none;
}
#topNav {
    display: grid;
    grid-template-columns: 110px auto 80px 70px;
}
#logo {
    text-align: center;
    align-self: center;
}
#logo img {
    margin: 5px 20px 5px 5px;
    height: 33px;
}
#socialNetwork {
    align-self: center;
}
#socialNetwork img {
    padding: 5px;
    height: 25px;
    transition: .5s;
}
#socialNetwork img:hover {
    background-color: #C5E3F5;
    height: 29px;
}
header button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
}
header button:hover {
    background-color: #C5E3F5;
}
#menuNav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #222222;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li.active a {
    background-color: #c82828;
    color: #F4F5F6;
}
nav ul li a:hover {
    background-color: #C5E3F5;
    color: #222222;
}
nav ul {
    display: none;
    border-top: 2px solid rgba(0,0,0,0.5);
    border-bottom: 2px solid rgba(0,0,0,0.5);
}
nav ul.open {
    display:block;
}
#menuButton span:nth-child(1) {display: block;}
#menuButton span:nth-child(2) {display: none;}
#menuButton.open span:nth-child(1) {display: none;}
#menuButton.open span:nth-child(2) {display: block;}

main a {
    text-decoration: none;
    color:#c82828;
    cursor: pointer;
}
main a:hover {
    color:#C5E3F5;
    font-weight: bold;
    text-decoration: underline;
}
mark {
    color: #c82828;
    background-color: #ffffff;
    font-weight: 600;
}

footer {
    background-color: #F4F5F6;
    border-top: 2px solid #c82828;
}
#logoFooter {
    height: 66px;
}
footer h2 {
    font-size: 18px;
}
footer a {
    color: #222222;
}
footer img {
    padding: 5px;
    height: 25px;
    transition: .5s;
}
footer img:hover {
    height: 29px;
}
#contact {
    display: block;
    align-self: center;
}
#credits {
    font-size: 12px;
    border-top: 1px solid rgba(0,0,0,0.5);
    margin: 10px 0;
    padding-bottom: 1px;
}


/* home page */
#hero {
    display: grid;
}
#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: -1;
}
#homepage #hero-text {
    text-align: center;
    color: white;
    border: none;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 2em;
}
#hero-text h1 {
    font-size: 1.5em;
    line-height: 0px;
}
#hero-text h2 {
    font-size: 0.7em;
    color: #F4F5F6;
    line-height: 0px;
}
#hero-text p {
    margin: 3em auto 1em auto;
    color:#F4F5F6;
}
#hero-text button {
    font-size: 0.66em;
    margin-bottom: 1em;
    padding: 0.25em;
    color: #111111;
}
#hero-text button:hover {
    background-color: #C5E3F5;
}
#homepage div {
    border: 1px solid #111111;
    min-height: 100px;
    margin: 5px;
}
#join {
    display: none;
}
#join button {
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 1.75em;
    margin: 0.5em;
    padding: 0.25em 0.75em;
    color: #111111;
    background-color: #F4F5F6;
}
#join button:hover {
    background-color: #C5E3F5;
}
.spotlights img {
    width: 25%;
    margin: 10px;
}
.spotlights p {
    margin: auto;
    border-top: 1px solid #222222;
    width: 80%;
}
.spotlight3 {
    display:none;
}


/* discover page */
#discover div {
    border: 1px solid #111111;
    min-height: 100px;
    margin: 5px;
}
#stats {
    padding: 0 1em;
}
#stats h3 {
    margin-bottom: 1em;
}
#stats p {
    margin-bottom: 1.5em;
}
img {
    margin: auto;
    filter: blur(0px);
    transition: filter 0.5s;
}
img[data-src] {
    filter: blur(5px);
}
#gallery figure a img {
    max-width: 100%;
}


/* join page */
main div.join div {
    border: 1px solid #111111;
    margin: 5px;
}
/* form */
form {
    text-align: left;
    display: inline-block;
}
form fieldset {
    border: 1px solid #111111;
    margin: 5px;
    width: 20rem;
}
form legend {
    color: #c82828;
    padding: 0 .5rem;
}
form label.labelTop {
    display: block;
    padding-top: 1rem;
    color: #111111;
}
form label.labelTop input, form label.labelTop textarea {
    display: block;
    font-size: 1rem;
    border: 1px solid #222222;
    padding: .75rem;
    color: #222222;
    width: 100%;
    max-width: 20rem;
    background-color: #F4F5F6;
    box-sizing: border-box;
}
form label.labelTop input:required {
    border-left: 6px solid #800000;
}
form label.labelTop input:required:valid {
    border-left: 6px solid #008000;
}
form label.labelLeft {
    display: block;
    padding: .75rem;
    color: #111111;
}
form input.submitButton {
    border: 1px solid #111111;
    background-color: #c82828;
    color: #F4F5F6;
    font-size: 1.25rem;
    padding: .75rem 1.5rem;
    margin: 0.25rem 5px 2rem 5px;
    width: 100%;
    max-width: 20rem;
    cursor: pointer;
}
form input.submitButton:hover {
    background-color: #C5E3F5;
    color: #222222;
}
/* table */
table {
    max-width: 50em;
    margin: 5px;
    border-collapse: collapse;
    display: inline-block;
}
table caption {
    caption-side: bottom;
}
table th, td, caption {
    padding: 0.5em;
}
table th.bronze{
    background-color: #cd7f32;
    border: 1px solid #111111;
}
table th.silver{
    background-color: #c0c0c0;
    border: 1px solid #111111;
}
table th.gold{
    background-color: #ffd700;
    border: 1px solid #111111;
}
table th.nonProfit{
    background-color: #c82828;
    color:#f4f5f6;
    border: 1px solid #111111;
}
table th span {
    font-size: 0.66em;
}
table th:nth-of-type(1) {
    background-color: #ffffff
}
table tr:nth-child(odd) {
    background-color: #f4f5f6;
}
table tr:nth-child(even) {
    background-color: #cacaca;
}
table td {
    border: 1px solid #111111;
}
table td.ok {
    color: #008000;
    font-size: 1.25em;
}
table td.no {
    color: #800000;
    font-size: 1.25em;
}
main div.join {
    text-align: center;
}
