
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@150&display=swap');
#content{
	margin: 0 auto;
    max-width: 500px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #464646;
    background-color: #cacaca;
    border-radius: 10px;
}
#portrait{
    width: 150px;
    margin: 25px;
    border-radius: 10px;
}
h1, h2, footer{
    font-family: 'Montserrat', 'Arial', sans-serif;
}
h2{
    border-bottom: 1px solid #acacac;
}
ul{
    font-family: 'Roboto', 'Verdana', sans-serif;
}
footer{
    text-align: center;
    margin-top: 50px;
    border: 2px solid #464646;
    background-color: #cacaca;
    border-radius: 10px;
    font-size: 10px;
}
