body {
    margin: 0 auto;
    text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', 'Verdana', sans-serif;
}
h1, h2, h3, h4, footer {
    font-family: 'Montserrat', 'Arial', sans-serif;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1em;
    border-bottom: 1px solid #acacac;
}
h3 {
    font-size: 1em;
}
header {
    width: 100%;
    text-align: center;
    border: 2px solid #464646;
    background-color: #cacaca;
}
header h1 {
    line-height: 3em;
}
main {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	background-color: #ddd;
	display: flex;
	flex-direction: column;
}
input, button {
	padding: 0.5rem;
}
button {
	margin: 0.5rem;
}
.delete {
	width: fit-content;
}
.input {
	display: flex;
	gap: 1rem;
}
.list {
	padding: 0.5rem;
}
ul {
	margin: 1rem;
	list-style: none;
}
li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    border: 2px solid #464646;
    background-color: #cacaca;
    font-size: 10px;
}

